<%= form_with model: @activity, local: true do |f| %>

<%= render partial: "shared/form_errors", locals: {object: f.object} %>

	<div class="form-row">
		<div class="col-auto form-group">
			<%= f.label :date %>
			<%= f.datetime_field :date, class: "form-control" %>
		</div>

		<div class="col-auto form-group">
			<%= f.label :category %>
			<%= f.collection_select :category, Activity.categories.keys.map{ |acty| [acty, acty.humanize] }, :first, :second, {}, class: "custom-select" %>
		</div>

		<div class="form-group col-auto">
			<%= f.label :difficulty %>
			<%= f.collection_select :difficulty, Activity.difficulties.keys.map{ |acty| [acty, acty.humanize] }, :first, :second, {}, class: "custom-select" %>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-2">
			<%= f.label :distance %>
			<%= f.number_field :distance, step: 0.01, class: "form-control" %>
		</div>

		<div class="form-group col-md-2">
			<%= f.label :unit %>
			<%= f.collection_select :unit, Activity.units.keys.map{ |acty| [acty, acty.humanize] }, :first, :second, {prompt: true }, class: "custom-select" %>
		</div>

		<div class="form-group col-md-2">
			<%= f.label :shoe_id, "Shoe" %>
			<% unless f.object.persisted? %>
				<%= f.collection_select :shoe_id, current_user.shoes.active.alphabetized, :id, :name_with_miles, {prompt: true }, class: "custom-select" %>
			<% else %>
				<%= f.collection_select :shoe_id, current_user.shoes.alphabetized, :id, :name_with_miles, { prompt: true }, class: "custom-select" %>
			<% end %>
			<%# <div id="shoes-select-wrapper"> %>
				<%#= render partial: "activities/shoes_select", locals: {object: f.object} 	</div>%>
			<button type="button" class="btn btn-link" data-toggle="modal" data-target="#shoeFormModal">
				Add new shoe
			</button>
		
		</div>

		<div class="form-group col-md-2">
			<%= f.label :hours %>
			<%= f.number_field :hours, min: 0, step: 1, class: "custom-select" %>
		</div>

	<div class="form-group col-md-2">
		<%= f.label :minutes %>
		<%= f.number_field :minutes, min: 0, max: 59, step: 1, class: "custom-select" %>
	</div>

	<div class="form-group col-md-2">
		<%= f.label :seconds %>
		<%= f.number_field :seconds, min: 0, max: 59, step: 1, class: "custom-select" %>
	</div>
</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.rich_text_area :description, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= link_to "Delete", activity_path(@activity), method: :delete, data: {confirm: "Really delete this activity?" }, class: "btn btn-danger" if @activity.persisted? %>
		<%= f.submit class: "btn btn-primary float-right" %>
	</div>
	<%= link_to "Back", :back %>
</div>
<% end %>

<%# modal %>
<div class="modal fade" id="shoeFormModal" tabindex="-1" aria-labelledby="shoeFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shoeFormModalLabel">Add a new shoe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: @shoe, id: dom_id(@shoe), local: false do |f| %>
					<%= render partial: "shared/form_errors", locals: {object: f.object}  %>
						<%= render partial: "shoes/form_fields", locals: {f: f} %>
						<div class="form-group">
							<%= f.submit class: "btn btn-primary float-right" %>
						</div>
					<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>