<%= form_with model: @shoe, local: true, class: "p-3 shadow-sm rounded-sm border mb-5" do |f| %>

<%= render partial: "shared/form_errors", locals: {f: f}  %>

	<div class="form-row">
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group col-md-4">
			<%= f.label :replacement_miles, "Notify me when my shoes hit this mileage (Recommended between 300-500 miles)" %>
			<%= f.number_field :replacement_miles, min:0, step: 1, class: "form-control" %>
		</div>

		<div class="form-group col-md-2">
			<%= f.label :retired %>
			<%= f.check_box :retired, class: "form-control" %>
		</div>

		<%# <div class="col-auto form-group"> %>
			<%#= f.label :date %>
			<%#= f.datetime_field :date, class: "form-control" %>
		<%# </div> %>
	</div>

	<div class="form-group">
		<%= link_to "Delete", shoe_path(@shoe), method: :delete, data: {confirm: "Really delete this shoe?" }, class: "btn btn-danger" if @shoe.persisted? %>
		<%= f.submit class: "btn btn-primary float-right" %>
	</div>
	<%= link_to "Back", :back %>

<% end %>