<%= search_form_for @q, class: "shadow-sm rounded-sm border mb-4 p-2" do |f| %>
	<div class="form-row justify-content-between">
		<div class="form-group col-auto">
			<%= f.label :name_eq, "Name" %>
			<%= f.collection_select :name_eq, Shoe.names, class: "form-control" %>
		</div>

<%# Add a field to search by miles greater than or less han %>
		<%# <div class="form-group col-auto">
			<%= f.label :distance_in_miles_eq, "Miles on shoe" %>
			<#%= f.collection_select :name_eq, Shoe.names, class: "form-control" %>
		<%# </div> %> %>

	
<%# Add in dates at some point %>
		<%# <div class="form-group col-auto">
			<%= f.label :date_gteq, "Start date" %>
			<%#= f.date_field :date_gteq, class: "form-control" %>
		<%# </div> %>

		<%# <div class="form-group col-auto"> %>
			<%#= f.label :date_lteq, "End date" %>
			<%#= f.date_field :date_lteq, class: "form-control" %>
		<%# </div> 
	</div> %>
<%# Filter by retired or not %>
	<%# <div class="form-group">
		<%= f.label :description_body_cont, "Description includes" %>
		<%#= f.search_field :description_body_cont, class: "form-control" %>
	<%# </div> %> 

	<div class="form-group mb-4">
		<div class="btn-group" role="group" aria-label="Form Actions">
			<%= f.submit class: "btn btn-primary float-right" %>
			<%= link_to "Reset", shoes_path, class: "btn btn-outline-secondary" %>
		</div>

	</div>
<% end %>