<!DOCTYPE html>
<html>
  <head>


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <% if content_for?(:title) %>  
      <title><%= yield(:title) %> | StravaClone </title> 
    <% else %>
      <title>StravaClone</title>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container">
      <%= render partial: "shared/navbar" %>

      <%= render partial: "shared/flash" %>

      <%= yield %>
      
    </main>
  
  </body>
</html>
